<h1>New computer</h1>

<% form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :control %><br />
    <%= f.text_field :control %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
	<% for hardware_assign in @computer.hardware_assigns %>
	  <% fields_for "computer[hardware_assign_attributes][]", hardware_assign do |hardware_assign_form| %>
	    <p>
	      <label>DEPARTMENTS</label>
	      <%= hardware_assign_form.collection_select :department_id, Department.all, :id, :name %>
	    </p>
	    <p>
	      <label>USERS</label>
		  <%= hardware_assign_form.collection_select :user_id, User.all, :id, :name %>
	    </p>
	    <p>
	      <label>PRIMARY COMPUTER</label>
		  <%= hardware_assign_form.select :primary_computer, [["Yes",true],["No",false]] %>
	    </p>
	  <% end %>
	<% end %>
  <p>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end -%>

<%= link_to 'Back', computers_path %>	
	


