<h1>New computer</h1>

<% form_for(@computer, @hardware_assign) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :control %><br />
    <%= f.text_field :control %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
  <p>
    <label>DEPARTMENTS</label>
    <%= f.collection_select :hardware_assign, :department_id, Department.find(:all), :id, :name %>
  </p>
  <%= f.submit 'Add this department' %>
<% end -%>

<%= link_to 'Back', computers_path %>	
	


